# Variables de entorno — Base de datos
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=gestion_academica_db

# Prisma — URL de conexión (usada también en local)
DATABASE_URL=postgresql://admin:admin123@localhost:5432/gestion_academica_db

# Backend
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
